<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>그린대학교 회원정보</title>
    <link rel="stylesheet" href="/greendae/css/layout/layout.css">
    <link rel="stylesheet" href="/greendae/css/user/information.css">
    

</head>
<body>
    <div id="wrapper">
        <!-- 헤더 시작작-->
        <header>
            <div>
                <div>
                    <p>
                        <a href="#">HOME |</a>
                        <a href="#">사이드맵 |</a>
                        <a href="#">로그인 |</a>
                        <a href="#">학생지원</a>
                    </p>
                </div>
            </div>
            <div>
                <div>
                    <a href="#">
                        <img src="/greendae/images/header_logo.png" alt="그린대학교">
                    </a>
                    <nav> 
                        <ul>
                            <li><a href="#">대학소개</a></li>
                            <li><a href="#">입학안내</a></li>
                            <li><a href="#">대학·대학원</a></li>
                            <li><a href="#">학사안내</a></li>
                            <li><a href="#">대학생활</a></li>
                            <li><a href="#">커뮤니티</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        <!-- 헤더 끝-->
        <!-- 메인 시작작-->
        <main>
            <div class="background">
                <div>
                    <span style="margin-top: 10px;">
                        <img src="/greendae/images/ico-home.png" alt="HOME">
                        <img src="/greendae/images/bg-path-arrow.png" alt=">">
                        회원   
                        <img src="/greendae/images/bg-path-arrow.png" alt=">">
                        <span style="color: #071F4B;">회원정보</span>
                    </span>
                </div>
            </div>
            <form>
                <div class="form-section">
                    <h2>회원정보 수정</h2>
                    <table>
                        <tr>
                            <th colspan="2"></th>
                        </tr>
                        <tr>
                            <td>아이디</td>
                            <td><input type="text" name="id" value="user1234" readonly></td>
                        </tr>
                        <tr>
                            <th colspan="2">비밀번호 변경</th>
                        </tr>
                        <tr>
                            <td>현재 비밀번호</td>
                            <td><input type="password" name="current_password" placeholder="현재 비밀번호를 입력하세요" maxlength="16"></td>
                        </tr>
                        <tr>
                            <td>새로운 비밀번호</td>
                            <td><input type="password" name="new_password" placeholder="변경할 비밀번호를 입력하세요" maxlength="16"></td>
                        </tr>
                        <tr>
                            <td>새로운 비밀번호 확인</td>
                            <td><input type="password" name="confirm_password" placeholder="변경할 비밀번호를 재입력하세요" maxlength="16"></td>
                        </tr>
                        <tr>
                            <td colspan="2"><button type="submit">비밀번호 변경</button></td>
                        </tr>
                        <tr>
                            <td>가입날짜</td>
                            <td><input type="date" id="joinDate" value="2025-03-20" disabled></td>
                        </tr>
                    </table>
                </div>
            
                <div class="form-section">
                    <h2>기본정보 수정</h2>
                    <table>
                        <tr>
                            <td>이름</td>
                            <td><input type="text" name="name" placeholder="이름을 입력하세요"></td>
                        </tr>
                        <tr>
                            <td>이메일</td>
                            <td><input type="email" name="email" placeholder="이메일을 입력하세요"></td>
                        </tr>
                        <tr>
                            <td>휴대폰번호</td>
                            <td><input type="tel" name="phone" placeholder="휴대폰번호를 입력하세요"></td>
                        </tr>
                        <tr>
                            <th>주소</th>
                            <td>
                                <input type="text" name="zip" id="zip" readonly placeholder="우편번호 선택"/> <br>
                                <input class="inputs" type="text" name="addr1" id="addr1" readonly placeholder="기본주소 선택"/> <br>
                                <input class="inputs"type="text" name="addr2" id="addr2" placeholder="상세주소 입력"/>
                            </td>
                        </tr>
                    </table>
                </div>
            
                <div class="button-container">
                    <button type="submit">회원정보 수정</button>
                    <button type="button" class="delete-btn">탈퇴하기</button>
                    <button type="button" class="cancel-btn">취소</button>
                </div>
            </form>
            
        </main>
            <footer>
                <div>
                    <div>
                        <ul>
                            <li><a href="#">개인정보처리방침</a></li>
                            <li><a href="#">통합정보시스템</a></li>
                            <li><a href="#">학사일정</a></li>
                            <li><a href="#">주요인원 연락처</a></li>
                            <li><a href="#">교내공지사항</a></li>
                        </ul>
                    </div>
                </div>
                <div>
                    <div>
                        <img src="/greendae/images/footer_logo.png" alt="그린대학교">
                        <p>
                            그린대학교 <br>
                            [12345] 부산광역시 부산진구 부전대로 123 그린대학교 / 대표전화 : 051-123-1000 / <br>
                            입학안내 : 051-123-1302 팩스 : 051-123-3333
        
                            <br><br>
                            copyright ©Green University All rights reserved.
                        </p>
                        <div>
                            <p>주요사이트  
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ▾</p>
                        </div>              
                    </div>
                </div>
            </footer>
            <!-- 푸터 끝-->
        </div>
        </body>
        </html>