<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>그린대학교 아이디찾기결과</title>
    <link rel="stylesheet" href="/greendae/css/layout/layout.css">
    <link rel="stylesheet" href="/greendae/css/user/lookupresult.css">
    

</head>
<body>
    <div id="wrapper">
        <!-- 헤더 시작작-->
        <header>
            <div>
                <div>
                    <p>
                        <a href="#">HOME |</a>
                        <a href="#">사이드맵 |</a>
                        <a href="#">로그인 |</a>
                        <a href="#">학생지원</a>
                    </p>
                </div>
            </div>
            <div>
                <div>
                    <a href="#">
                        <img src="/greendae/images/header_logo.png" alt="그린대학교">
                    </a>
                    <nav> 
                        <ul>
                            <li><a href="#">대학소개</a></li>
                            <li><a href="#">입학안내</a></li>
                            <li><a href="#">대학·대학원</a></li>
                            <li><a href="#">학사안내</a></li>
                            <li><a href="#">대학생활</a></li>
                            <li><a href="#">커뮤니티</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        <!-- 헤더 끝-->
        <!-- 메인 시작작-->
        <main>
            <div class="background">
                <div>
                    <span style="margin-top: 10px;">
                        <img src="/greendae/images/ico-home.png" alt="HOME">
                        <img src="/greendae/images/bg-path-arrow.png" alt=">">
                        회원   
                        <img src="/greendae/images/bg-path-arrow.png" alt=">">
                        <span style="color: #071F4B;">아이디 찾기결과</span>
                    </span>
                </div>
            </div>
                     
            <div id="find-id-result">
                <h2>아이디 찾기 결과</h2>
                <p>입력하신 정보와 일치하는 아이디입니다.</p>

                <!-- 테이블로 정보 표시 -->
                <table>
                    <tr>
                        <td>이름</td>
                        <td>홍길동</td>
                    </tr>
                    <tr>
                        <td>아이디</td>
                        <td>user1234</td>
                    </tr>
                    <tr>
                        <td>이메일</td>
                        <td>honggildong@gmail.com</td>
                    </tr>
                    <tr>
                        <td>가입일</td>
                        <td>2025-03-17 10:33:25</td>
                    </tr>
                </table>

                <div class="btn-container">
                    <button type="button" class="btn login-btn" >로그인</button>
                    <button type="button" class="btn find-pw-btn">비밀번호 찾기</button>
                </div>
            </div>
        </main>
                    
        
            <footer>
                <div>
                    <div>
                        <ul>
                            <li><a href="#">개인정보처리방침</a></li>
                            <li><a href="#">통합정보시스템</a></li>
                            <li><a href="#">학사일정</a></li>
                            <li><a href="#">주요인원 연락처</a></li>
                            <li><a href="#">교내공지사항</a></li>
                        </ul>
                    </div>
                </div>
                <div>
                    <div>
                        <img src="/greendae/images/footer_logo.png" alt="그린대학교">
                        <p>
                            그린대학교 <br>
                            [12345] 부산광역시 부산진구 부전대로 123 그린대학교 / 대표전화 : 051-123-1000 / <br>
                            입학안내 : 051-123-1302 팩스 : 051-123-3333
        
                            <br><br>
                            copyright ©Green University All rights reserved.
                        </p>
                        <div>
                            <p>주요사이트  
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ▾</p>
                        </div>              
                    </div>
                </div>
            </footer>
            <!-- 푸터 끝-->
        </div>
        </body>
        </html>