<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>그린대학교 학사관리시스템 교육윤영현황</title>
    <link rel="stylesheet" href="/greendae/css/admin/admin.css">
</head>
<body>
    <div id="wrapper">
        <!-- 헤더 시작작-->
        <header>
            <div>
                <div>
                    <p>
                        <a href="#">HOME |</a>
                        <a href="#">사이드맵 |</a>
                        <a href="#">로그아웃</a>
                    </p>
                </div>
            </div>
            <div>
                <div>
                    <a href="#">
                        <img src="/greendae/images/admin_logo.png" alt="그린대학교 학사관리시스템">
                    </a> 
                </div>
            </div>
        </header>
        <!-- 헤더 끝-->
        <!-- 메인 시작작-->
        <main>
            
            <section class="content">
                <!-- 왼쪽 사이드바 -->
                <aside class="sidebar">
                    <article class="side_content">                       

                        <div>
                            <div class="side_img">
                                <p>
                                    <img src="/greendae/images/ico-admin-setting.png" alt="환경설정">
                                    환경설정
                                </p>
                            </div>
                            <div class="side_txt">
                                <p>· 기본환경정보</p>
                                <p>· 약관관리</p>
                            </div>
                        </div>

                        <div>
                            <div class="side_img">
                                <p>
                                    <img src="/greendae/images/ico-admin-academic.png" alt="학사운영">
                                    학사운영
                                </p>
                            </div>
                            <div class="side_txt">
                                <p>· 교육 운영 현황</p>
                                <p>· 학년별 학생 현황</p>
                                <p>· 학과별 학생 현황</p>
                                <p>· 강의 목록</p>
                                <p>· 강의 등록</p>
                                <p>· 수강 현황</p>
                            </div>
                        </div>

                        <div>
                            <div class="side_img">
                                <p>
                                    <img src="/greendae/images/ico-admin-persons.png" alt="인사관리">
                                    인사관리
                                </p>
                            </div>
                            <div class="side_txt">
                                <p>· 학생 목록 및 등록</p>
                                <p>· 교수 목록 및 등록</p>
                                <p>· 임직원 목록 및 등록</p>
                            </div>
                        </div>

                        <div>
                            <div class="side_img">
                                <p>
                                    <img src="/greendae/images/ico-admin-college.png" alt="대학 및 학과">
                                    대학 및 학과
                                </p>
                            </div>
                            <div class="side_txt">
                                <p>· 대학 및 학과 목록</p>
                                <p>· 대학 및 학과 등록</p>
                            </div>
                        </div>

                        <div>
                            <div class="side_img">
                                <p>
                                    <img src="/greendae/images/ico-admin-board.png" alt="게시판관리">
                                    게시판관리
                                </p>
                            </div>
                            <div class="side_txt">
                                <p>· 입사안내 공지사항</p>
                                <p>· 학사안내 공지사항</p>
                                <p>· 커뮤니티 공지사항</p>
                                <p>· 입학상담</p>
                                <p>· 질문 및 답변</p>
                                <p>· 식단안내</p>
                                <p>· 자료실</p>
                            </div>
                        </div>
        
                    </article>
                </aside>
                <!-- 오른쪽 글 -->
                <article class="main_content">
                    <div class="main_title">
                        <p>교수 등록<span class="title_span">교수 등록</span> <span>인사관리> &nbsp; </span></p>
                    </div>
                    <div class="main_content_detail">
                        <div class="Colleage_main">
                            <form action="">

                                <!-- 기본정보 입력-->
                                <p class="Operations_title">
                                    <img src="/greendae/images/bullet-h4.png" alt="기호">
                                    기본정보 입력
                                </p>
                                <div class="professor_div1">
                                    <table class="professor_basic_info">
                                            <tr>
                                                <td rowspan="4">
                                                    <img src="/greendae/images/icon-avatar.png" alt="사진">

                                                </td>
                                                <td class="td1">교수번호</td>
                                                <td class="td2"><span class="info_red_txt"> 연도 + 학과 코드 + 순번 조합 자동생성</span></td>
                                                <td class="td1">주민번호</td>
                                                <td class="td2"><input type="text" placeholder="- 포함 14자리 입력"></td> 
                                            </tr>
                                            <tr>
                                                <td class="td1">이름</td>
                                                <td class="td2"><input type="text" class="ipt1" placeholder="교수 이름 입력"></td>
                                                <td class="td1">영문명</td>
                                                <td class="td2"><input type="text" placeholder="여권 등과 동일한 영문 이름"></td> 
                                            </tr>
                                            <tr>
                                                <td class="td1">성별</td>
                                                <td class="td2" style="text-align: left;">
                                                    <div style="float: left;;"><label><input type="radio" class="iptc1" name="gender" value="남"> 남</label></div>
                                                    <div style="float: left;">
                                                        <label><input type="radio" class="iptc1" name="gender" value="여"> 여</label>    
                                                    </div>
                                                    
                                                </td>
                                                <td class="td1">국적</td>
                                                <td class="td2">
                                                    <select name="nationality">
                                                        <option value="대한민국">대한민국</option>
                                                        <option value="미국">미국</option>
                                                        <option value="일본">일본</option>
                                                        <option value="중국">중국</option>
                                                        <option value="영국">영국</option>
                                                        <option value="프랑스">프랑스</option>
                                                        <option value="독일">독일</option>
                                                        <option value="러시아">러시아</option>
                                                        <option value="캐나다">캐나다</option>
                                                        <option value="호주">호주</option>
                                                        <option value="브라질">브라질</option>
                                                        <option value="인도">인도</option>
                                                        <option value="멕시코">멕시코</option>
                                                        <option value="이탈리아">이탈리아</option>
                                                        <option value="스페인">스페인</option>
                                                        <option value="네덜란드">네덜란드</option>
                                                        <option value="스웨덴">스웨덴</option>
                                                        <option value="스위스">스위스</option>
                                                        <option value="태국">태국</option>
                                                        <option value="베트남">베트남</option>
                                                    </select>
                                                </td> 
                                            </tr>
                                            <tr>
                                                <td class="td1">휴대폰</td>
                                                <td class="td2"><input type="text" class="ipt1" placeholder="휴대폰 번호 입력"></td>
                                                <td class="td1">이메일</td>
                                                <td class="td2"><input type="text" class="ipt1" placeholder="이메일 입력"></td> 
                                            </tr>
                                            <tr>
                                                <td rowspan="3"></td>
                                                <td>주소</td>
                                                <td colspan="3">
                                                    <input type="text" id="zip" name="zip" class="ipt1"  placeholder="우편번호"/>
                                                    <input type="text" id="addr1" name="addr1" placeholder="주소 검색"/>
                                                    <input type="text" id="addr2" name="addr2" placeholder="상세주소 입력"/> 
                                                </td>
                                            </tr>
                                    </table>
                                        
                                    
                                </div>
                    
                                <!-- 기본정보 입력 끝-->
                                <!-- 학과 정보 입력-->

                                <p class="Operations_title">
                                    <img src="/greendae/images/bullet-h4.png" alt="기호">
                                    학적정보 입력
                                </p>
                                <table class="professor_info">
                                    <tr>
                                        <td>졸업대학</td>
                                        <td><input type="text" class="ipt1" placeholder="대학교 이름 입력"></td>
                                        <td>학문 분야(전공)</td>
                                        <td>
                                            <input type="text" class="ipt1" placeholder="전공 입력"> 
                                        </td>      
                                    </tr>
                                    <tr>
                                        <td>졸업일</td>
                                        <td><input type="date" style="float: left;"></td>
                                        <td>학위</td>
                                        <td>
                                            <select name="degree">
                                                <option value="박사">박사</option>
                                                <option value="학사">학사</option>
                                                <option value="전문학사">전문학사</option>
                                                <option value="박사">박사</option>
                                            </select> 
                                        </td>      
                                    </tr>
                                    <tr>
                                        <td>담당학과</td>
                                        <td>
                                            <select name="name">
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                            </select> 
                                            <select name="name">
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                            </select> 
                                        </td>
                                        <td>임용일</td>     
                                        <td><input type="date" style="float: left;"></td> 
                                    </tr>
                                    
                                    
                                </table>
                                <button type="submit" class="btn_b">등록</button>
                            </form>

                            
                        </div>                 
                    </div>  
                </article>
            </section>
        </main>
        <!-- 메인 끝-->
        <!-- 푸터 시작작-->
        <footer>
            <div>
                <div>
                    <ul>
                        <li><a href="#">개인정보처리방침</a></li>
                        <li><a href="#">통합정보시스템</a></li>
                        <li><a href="#">학사일정</a></li>
                        <li><a href="#">주요인원 연락처</a></li>
                        <li><a href="#">교내공지사항</a></li>
                    </ul>
                </div>
            </div>
            <div>
                <div>
                    <img src="/greendae/images/footer_logo.png" alt="그린대학교">
                    <p>
                        그린대학교 <br>
                        [12345] 부산광역시 부산진구 부전대로 123 그린대학교 / 대표전화 : 051-123-1000 / <br>
                        입학안내 : 051-123-1302 팩스 : 051-123-3333

                        <br><br>
                        copyright ©Green University All rights reserved.
                    </p>
                    <div>
                        <p>주요사이트  
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ▾</p>
                    </div>              
                </div>
            </div>
        </footer>
        <!-- 푸터 끝-->
    </div>
</body>
</html>