<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>총장 인삿말</title>
    <link rel="stylesheet" href="/greendae/css/layout/layout.css">
    <link rel="stylesheet" href="/greendae/css/intro/greetings.css">
</head>
<body>
    <div id="wrapper">
        <!-- 헤더 시작작-->
        <header>
            <div>
                <div>
                    <p>
                        <a href="#">HOME |</a>
                        <a href="#">사이드맵 |</a>
                        <a href="#">로그인 |</a>
                        <a href="#">학생지원</a>
                    </p>
                </div>
            </div>
            <div>
                <div>
                    <a href="#">
                        <img src="/greendae/images/header_logo.png" alt="그린대학교">
                    </a>
                    <nav> 
                        <ul>
                            <li><a href="#">대학소개</a></li>
                            <li><a href="#">입학안내</a></li>
                            <li><a href="#">대학·대학원</a></li>
                            <li><a href="#">학사안내</a></li>
                            <li><a href="#">대학생활</a></li>
                            <li><a href="#">커뮤니티</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        <!-- 헤더 끝-->
        <!-- 메인 시작작-->
        <main>
            <div class="background">
                <div>
                    <span style="margin-top: 10px;">
                        <img src="/greendae/images/ico-home.png" alt="HOME">
                        <img src="/greendae/images/bg-path-arrow.png" alt=">">
                        대학소개   
                        <img src="/greendae/images/bg-path-arrow.png" alt=">">
                        <span style="color: #071F4B;">총장 인사말</span>
                    </span>
                </div>
            </div>
            <section class="content">
                <!-- 왼쪽 사이드바 -->
                <aside class="sidebar">
                    <article class="side_content">             
                        <div class="side_title">
                            <p>대학소개</p>
                        </div>            
                        <a href="#">
                            <div  class="choice">총장 인사말</div>
                        </a>
                        <a href="#">
                            <div>교육 이념</div>
                        </a>
                        <a href="#">
                            <div>연혁</div>
                        </a>
                        <a href="#">
                            <div>조직도</div>
                        </a>
                        <a href="#">
                            <div>오시는길</div>
                        </a>
                    </article>
                </aside>
                <!-- 오른쪽 글 -->
                <article class="main_content">
                    <div class="main_title">
                        <p>총장 인사말</p>
                    </div>
                    <div class="main_content_detail">
                        <p class="tit">
                            '미래시대 인재를 양성하는 그린대학교<br>

                            「교육부 지정 글로컬대학 그린대학교<br><br>
                        </p>
                       

                        <p class="strong">
                            GNU Consensus: 자유와 신뢰의 혁신플랫폼<br><br>
                        </p>                            

                        <p class="txt">
                            그린대학교는 창의성과 도전정신이 살아 숨 쉬는 역동적인 학문공동체입니다.<br>
                            1946년 국내 최초의 국립대학으로 발걸음을 내디딘 이래 탁월한 역량과 비전을 갖춘 인재들을 배출하여 왔습니다.<br>
                            산업화와 민주화를 이끌며 대한민국을 견인하여 왔고, 국민의 사랑을 받는 대학으로 자리 잡았습니다.<br><br><br>

                            4차 산업혁명으로 상징되는 급변하는 대내외적 상황은 교육과 연구에 있어 새로운 패러다임을 요청하고 있습니다.<br>
                            그린대학교는 복합적인 도전에 담대히 대응하며 자랑스러운 전통을 이어가고자 합니다.<br>
                            고등교육의 질적 변화를 주도하고, 미래를 개척하는 창의적 연구를 장려하여 혁신적 고등교육기관의 모범이 될 것입니다.<br><br><br>

                            그린대학교는 구성원들이 행복하고 자유롭게 자신의 소명을 추구하는 터전으로 거듭나고자 합니다.<br>
                            이 터전에서 이웃을 배려하는 따뜻한 리더, 국가와 인류의 미래에 공헌하는 탁월한 인재가 배출될 것입니다.<br>
                            대전환의 혁신을 통해 새 시대를 이끌어갈 창의적인 인재를 양성하겠습니다.<br> 
                            국가와 인류가 직면한 난제를 해결할 비전을 제시하겠습니다.<br><br><br>

                            그린대학교는 자유와 신뢰가 선순환하는 플랫폼이 되겠습니다.<br>
                            미래를 개척하는 창의적 교육과 연구로 국민으로부터 더 많은 신뢰를 얻고,<br>
                            신뢰를 통해 대학의 본질인 자율성을 증진하여 더 많은 사회적 가치를 창출하겠습니다.<br><br><br>

                            그린대학교의 대전환에 여러분이 함께 해주십시오.<br><br><br>

                            감사합니다.<br><br><br>


                        </p>

                        <p style="font-weight: bold;">그린대학교 제 20대 총장</p>
                    </div>  
                </article>
            </section>
        </main>
        <!-- 메인 끝-->
        <!-- 푸터 시작작-->
        <footer>
            <div>
                <div>
                    <ul>
                        <li><a href="#">개인정보처리방침</a></li>
                        <li><a href="#">통합정보시스템</a></li>
                        <li><a href="#">학사일정</a></li>
                        <li><a href="#">주요인원 연락처</a></li>
                        <li><a href="#">교내공지사항</a></li>
                    </ul>
                </div>
            </div>
            <div>
                <div>
                    <img src="/greendae/images/footer_logo.png" alt="그린대학교">
                    <p>
                        그린대학교 <br>
                        [12345] 부산광역시 부산진구 부전대로 123 그린대학교 / 대표전화 : 051-123-1000 / <br>
                        입학안내 : 051-123-1302 팩스 : 051-123-3333

                        <br><br>
                        copyright ©Green University All rights reserved.
                    </p>
                    <div>
                        <p>주요사이트  
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ▾</p>
                    </div>              
                </div>
            </div>
        </footer>
        <!-- 푸터 끝-->
    </div>
</body>
</html>